@page "/leaderpivotdemo"
@using LeaderAnalytics.LeaderPivot
@using LeaderAnalytics.LeaderPivot.TestData

<div id="demo-page">
    <div id="page-header">
        <h1>Sales Data</h1>
        <div id="control-panel-container" class="d-flex flex-column p-3">
            <ControlPanel @bind-DisplayGrandTotalOption="DisplayGrandTotalsOption"
                          @bind-DisplayDimensionButtons="DisplayDimensionButtons"
                          @bind-DisplayMeasureSelectors="DisplayMeasureSelectors"
                          @bind-DisplayReloadDataButton="DisplayReloadDataButton"
                          @bind-SelectedPivotStyle="SelectedPivotStyle">
            </ControlPanel>
        </div>
    </div>



    <div id="pivot-container">
        <LeaderPivot T="SalesData"
                     DataSource="@LoadSalesData"
                     Measures="@SalesDataService.LoadMeasures()"
                     Dimensions="@SalesDataService.LoadDimensions()"
                     DisplayGrandTotals="true"
                     DisplayGrandTotalOption="@DisplayGrandTotalsOption"
                     DisplayDimensionButtons="@DisplayDimensionButtons"
                     DisplayMeasureSelectors="@DisplayMeasureSelectors"
                     DisplayReloadDataButton="@DisplayReloadDataButton"
                     PivotStyle="@SelectedPivotStyle">
        </LeaderPivot>
    </div>
</div>

@code {

    private bool DisplayGrandTotalsOption = true;
    private bool DisplayDimensionButtons = true;
    private bool DisplayMeasureSelectors = true;
    private bool DisplayReloadDataButton = false;
    private LeaderPivotStyle SelectedPivotStyle = new LeaderPivotStyle();
    private string controlPanelStyle = "collapse";
    private SalesDataService SalesDataService = new SalesDataService();


    private async Task<IEnumerable<SalesData>> LoadSalesData()
    {
        return SalesDataService.GetSalesData();
    }
}
